# Répertoires de compilation Maven
/target/

# Répertoires de compilation généraux
/bin/
/build/
/out/

# Répertoire de Visual Studio
.vs/
/version_full_v2/drone_image_full/bin
/version_full_v3/drone_image_full/bin
*.class
